@import '../../../styles.scss';
.login-form {
	position: absolute;
	background-color: $nav-black;
	color: $white;
	// background-image: url('/assets/images/logo.png');
	// background-repeat: no-repeat; 
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	.login-form-section {
		width: 405px;
		background: $white;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		padding: 20px 20px 10px;
		.login-heading {
			font-size: 24px;
			color: $nav-black;
			margin-bottom: 20px;
		}
		.signup-form {
			margin-top: 10px;
			input::placeholder {
				font-size: 14px;
				color: $gray-dark;
			}
			input.form-control:focus {
				box-shadow: none;
			}
			.login-button {
				margin-top: 15px;
				outline: none;
			}
			a.forgot-link {
				color: $gray-dark;
				font-size: 15px;
			}
		}
	}
	.footer-section {
		bottom: 10px;
		position: fixed;
		width: 100%;
		left: 0;
		text-align: center;
	}
	@media only screen and (min-width: 100px) and (max-width: 801px) {
		.login-form-section {
			width: 90%;
		}
		.login-logo {
			text-align: center;
		}
	}  
}
  