<div class="login-form">
  <div class="login-form-section">
    <div class="login-heading text-center"> Login</div>
    <div class="row">
      <div class="col-md-12">
        <div class="signup-form">
          <form class="form-horizontal" novalidate [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
            <div class="form-group ">
              <div class="col-md-12">
                <input class="form-control" type="text" formControlName="email" placeholder="Email/Mobile">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input class="form-control" type="password" formControlName="password" placeholder="Password">
              </div>
            </div>

            <div class="form-group text-center">
              <div class="col-md-12">
                <button class="btn btn-success btn-block login-button" type="submit">SIGN IN</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-center">
                <a class="forgot-link" href="#">Forgot Password?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section">
    Copyrights @ 2019
  </div>
</div>